$stainSize: 100px;

.coffeestain {
  position: absolute;
  bottom: 35%;
  right: 9%;

  height: $stainSize;
  width: $stainSize;

  div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .outerRing {
    border-radius: 50%;
    outline: 2px solid rgba(0, 0, 0, 0.904);
    &::after {
      content: "";
      position: absolute;
      bottom: 96%;
      right: 110%;
      border-radius: 49% 10% 47% 46% / 31% 60% 35% 60%;
      width: 3%;
      height: 3%;

      background: rgba(0, 0, 0, 0.301);
    }
  }
  .innerRing {
    border: 5px solid rgba(0, 0, 0, 0.5);
    outline: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 40% 50% 50% 50% / 50% 40% 41% 45%;
    &::after {
      content: "";
      position: absolute;
      bottom: 99%;
      right: 103%;
      border-radius: 49% 41% 47% 46% / 31% 60% 35% 60%;
      width: 13%;
      height: 13%;

      background: rgba(0, 0, 0, 0.301);
    }
  }
  .inBetweenRing {
    border-radius: 43% 44% 42% 35% / 35% 40% 41% 49%;
    border: 10px solid rgba(0, 0, 0, 0.301);
    outline: 10px solid rgba(0, 0, 0, 0.301);
    &::after {
      content: "";
      position: absolute;
      bottom: 110%;
      border-radius: 40% 30% 40% 30% / 35% 60% 35% 60%;
      width: 8%;
      height: 8%;

      background: rgba(94, 93, 93, 0.301);
    }
  }
}

.coffeestain.dark {
  .outerRing {
    outline: 2px solid rgba(63, 62, 62, 0.904);
    &::after {
      background: rgb(82, 82, 82);
    }
  }
  .innerRing {
    border: 5px solid rgba(119, 119, 119, 0.5);
    outline: 5px solid rgba(119, 119, 119, 0.5);

    &::after {
      background: rgba(255, 255, 255, 0.301);
    }
  }
  .inBetweenRing {
    border: 10px solid rgba(129, 129, 129, 0.301);
    outline: 10px solid rgba(126, 126, 126, 0.301);
    &::after {
      background: rgba(255, 255, 255, 0.301);
    }
  }
}
