.homeContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background: lightgrey;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: bottom;
  transition: all 0.5s;

  .firstWords {
    font-size: clamp(1rem, 3vw, 3rem);
    position: absolute;
    top: 10%;
    font-weight: normal;
    span {
      font-weight: bold;
    }
  }
}

.homeContainer.dark {
  background: black;
  h1 {
    color: whitesmoke;
  }
}

.zoomOnPost {
  transform: rotate(-20deg) scale(3.2) translateX(-30%) translateY(12%);
}

.zoomOnAbout {
  transform: rotate(-8deg) translateX(-100%) translateY(165%) scale(2.9);
}

.zoomOnTools {
  transform: rotate(40deg) scale(4) translateX(21%) translateY(20%);
}

@media (min-width: 900px) {
  .zoomOnTools {
    transform: rotate(40deg) scale(3.5) translateX(30%) translateY(20%);
  }
}
