.postitContainer {
  z-index: 99;
  position: absolute;
  right: 5%;
  bottom: 8%;
  margin: 25px;
  min-width: 150px;
  min-height: 220px;
  transform: rotate(20deg);
  background: #fff;
  border: solid #41403e;
  border-width: 3px 2px 3px 3px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  transition: all 0.5s;
  padding: 1rem;
  box-shadow: 3px 3px 1px 5px #41403e;
  cursor: pointer;
  &::before {
    content: "*click*";
    background: url("../assets/arrow.png") center/cover;
    position: absolute;
    bottom: 110%;
    left: 70%;
    width: 70px;
    height: 100px;
    transform: rotate(50deg);
  }
}

.postItOnZoom {
  box-shadow: none;
}
