.projectsContainer {
  // animation: slide-top-bottom 0.08s linear 1;
  position: absolute;
  width: 48%;
  height: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid red;

  h1 {
    font-size: 3rem;
  }
}

// @keyframes slide-top-bottom {
//   0% {
//     transform: scale(0.4);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
