.toolsContainer {
  position: absolute;
  left: 5%;
  bottom: 30%;
  cursor: pointer;

  &::before {
    content: "*click*";
    background: url("../assets/arrow.png") center/cover;
    position: absolute;
    top: 200%;
    left: 50%;
    width: 70px;
    height: 100px;
    transform: rotate(170deg);
  }

  .locher {
    position: relative;
    height: 90px;
    width: 120px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    box-shadow: 1px -1px 5px 1px black, inset -1px 1px 1px 1px grey;
    transform: rotate(140deg);
    transition: all 0.1s;

    &::before {
      content: "";
      position: absolute;
      background: rgb(32, 32, 32);
      top: 12.5%;
      right: 100%;
      width: 50%;
      height: 10%;
      border-radius: 10%;
      border-left: 1px solid black;
      transition: all 0.1s;
    }
    &::after {
      content: "";
      position: absolute;
      background: white;
      left: 10%;
      top: 13%;
      width: 80%;
      height: 80%;
      border: 1px solid rgb(40, 40, 40);
      border-radius: 20% 20% 20% 20% / 20% 15% 30% 12%;
      box-shadow: 3px 1px 3px 1px rgb(42, 42, 42), inset -1px 0px 2px 1px grey;
      transition: all 0.1s;
    }
    h2 {
      position: absolute;
      left: 15%;
      top: 25%;
      z-index: 10;
      transform: rotate(180deg);
    }
    .lochImLocher {
      background: transparent;
      width: 50%;
      height: 10%;
      position: absolute;
      top: 60%;
      left: 25%;
      z-index: 10;
      border: 1px solid black;
      border-radius: 30%;
      box-shadow: inset -1px 1px 1px 1px grey;
    }
  }
  .locher.lochen {
    &::after {
      border-radius: 20% 20% 15% 15% / 20% 15% 30% 12%;
      box-shadow: 1px 0px 1px 1px rgb(42, 42, 42), inset -1px 0px 2px 1px grey;
    }
  }
  .tacker {
    position: relative;
    top: 180px;
    left: 0;
    background: white;
    z-index: 10;
    height: 30px;
    width: 120px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -3px 3px 10px 2px grey, -1px 1px 2px 1px black;
    transform: rotate(20deg);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5%;
      width: 86%;
      height: 90%;
      background: black;
      border-radius: 20% 20% 20% 20% / 20% 15% 30% 12%;
      box-shadow: 1px 1px 10px 2px grey;
      z-index: 10;
    }
    &::after {
      content: "";
      position: absolute;
      right: 9%;
      top: 5%;
      width: 14%;
      height: 90%;
      background: silver;
      z-index: 0;
      border-radius: 5px;
    }
  }
}

.confettiContainer {
  position: absolute;
  bottom: 110%;
  left: 0;
  height: 100px;
  width: 100px;
}
.confetti {
  z-index: 6;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;
  transition: all 0.5s;
}
